.App {
  text-align: center;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.Login{
  display: block;
  /* font-size: 20px; */
  width:250px;
  height:20px;
  border-radius: 5px;
  border-style: hidden;
  padding: 5px;
  margin: 20px 10px 10px 10px;
}
.Senha{
  display: block;
  /* font-size: 20px; */
  width:250px;
  height:20px;
  border-radius: 5px;
  border-style: hidden;
  padding: 5px;
  margin: 10px 10px 40px 10px;
}

.submitbutton{
  border-style: solid;
  border-radius: 50px;
  border: 1px;
  padding:10px;
  width: 200px;
  margin: 5px;
  font-size:15px;
  background-color: aqua
}

.signinbutton{
  border-style: solid;
  border-radius: 50px;
  padding:10px;
  border: 1px;
  width: 200px;
  font-size:15px;
  background-color: rgba(255, 255, 255, 0.678)
}

.Login-section{
  border: solid 2px black;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.226);
  padding: 40px;
}

h1{
  padding: 0px 0px 20px 0px;
}

h1, p {
  font-family: Lato;
}

.Background{
  display:flex;
  flex-direction: column;
  align-items: center;
}

body{
  background-color:blueviolet;
}